In [5]:
import scipy.io as io
# read data/zuco/task1/Matlab_files/resultsZAB_SR.mat
sentence_data = io.loadmat('data/zuco/task1/Matlab_files/resultsZAB_SR.mat', squeeze_me=True, struct_as_record=False,)['sentenceData']

array([<scipy.io.matlab._mio5_params.mat_struct object at 0x10d770760>,
       <scipy.io.matlab._mio5_params.mat_struct object at 0x144a45640>,
       <scipy.io.matlab._mio5_params.mat_struct object at 0x14726c790>,
       <scipy.io.matlab._mio5_params.mat_struct object at 0x144549940>,
       <scipy.io.matlab._mio5_params.mat_struct object at 0x1445495e0>],
      dtype=object)

In [30]:
import numpy as np
import pandas as pd
sn_data = sentence_data[0]
dur = np.array(sn_data.allFixations.duration)
x = np.array(sn_data.allFixations.x)
y = np.array(sn_data.allFixations.y)

In [44]:
dur

array([ 28, 119,  73, 185, 122, 223, 142,  31, 100, 106, 145,  97,  91,
        79,  95,  82,  76,  79,  59,  95,  66,  77,  76,  90, 131, 104,
        58, 151], dtype=uint8)

In [ ]:
word_boundary = sn_data.wordbounds
df = pd.DataFrame([], columns=['sn', 'wn', 'fl', 'dur'])
for fix_idx in range(x.shape[0]):
    word_idx = np.where(
        (word_boundary[:, 0] <= x[fix_idx]) &
        (word_boundary[:, 2] >= x[fix_idx]) &
        (word_boundary[:, 1] <= y[fix_idx]) &
        (word_boundary[:, 3] >= y[fix_idx]),
    )
    assert len(word_idx) == 1, 'more than 1 word is matched!'
    # skip fixations outside all boundary boxes
    if word_idx[0].size == 0:
        continue
    fl = ((x[fix_idx] - word_boundary[word_idx, 0]) /
            (word_boundary[word_idx, 2] - word_boundary[word_idx, 0]))[0][0]
    df_tmp = pd.DataFrame(
        [[
            1,  word_idx[0][0] + 1,
            fl, dur[fix_idx],
        ]], columns=['sn', 'wn', 'fl', 'dur'],
    )
    df = pd.concat([df, df_tmp])

In [42]:
df

  sn  wn        fl  dur
0  1   5  0.891673   28
0  1   1  0.429268  119
0  1   2  0.088889   73
0  1   1  0.308537  185
0  1   2  0.577778  122
0  1   1  0.870732  223
0  1   1  0.468293  142
0  1   1  0.403659   31
0  1   2  0.883333  100
0  1   4  0.054413  106
0  1   5  0.286308  145
0  1   5  0.996868   97
0  1   5  0.409366   91
0  1   7  0.051744   79
0  1   8  0.418766   95
0  1   9  0.495304   82
0  1  10  0.421850   76
0  1  10  0.952804   79
0  1  13  0.909158   59
0  1  13  0.100237   95
0  1  14  0.780406   66
0  1  15  0.861200   77
0  1  17  0.834905   76
0  1  18  0.873537   90
0  1  19  0.375342  131
0  1  20  0.897872  104
0  1  21  0.480000   58
0  1  22  0.395181  151

In [45]:
df.shape

(28, 4)